@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap');
body{
    margin: 0;
    padding: 0;
    background: radial-gradient(midnightblue, black);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}
p{
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    margin: 0vh;
    color: white;
    font-size: 30px;
}
img{
    /* border: 2px solid #ffb31a; */
    width: 33vh;
    height: 28vh;
}
.container div{
    margin: 10vh;
}
@media (orientation: portrait){
    p{
        font-size: 50px;
    }
    img{
        width: 29vh;
        height: 24vh;
    }
}